@charset "UTF-8";

*
{
  margin: 0;
  padding: 0;

}
ul
{
  list-style: none;
}
a
{
  text-decoration: none;
}

/*formatando topo*/

#topo
{
  height: 550px;
  background: url("../imagens/image-header.jpg") bottom center;
  background-size: cover;
  position: relative;
  width: 100%;
}
#logo
{
  color: white;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 30px;
}
#menu
{
  float: right;
}

#itens-menu li
{ 
  display: inline;
  position: relative;
  right: 35px;
  top: 35px;
  margin-left: 5px;
  
}
#itens-menu li a
{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-weight: bold;
  width: 200px;
}
#itens-menu li a:hover
{
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
}
.conteudo-titulo
{
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
}
.conteudo-titulo span.titulo
{
  color: #fff;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
}

#seta
{
  display: inline-block;
}
#img-seta
{
  position: absolute;
  height: 80px;
  left: 50%;
  top: 30%;
}

/*formatando conteúdo*/

#container
{
  width: 80%;
  margin: auto;
  
}
#texto
{
  background-color: #fffacd7e;
  width: 500px;
  height: 400px;
  display: inline-block;
  margin: 0;
  float:left;
  margin-left: 30px;
  position: relative;
}
#texto2
{
  background-color: rgba(255, 250, 205, 0.493);
  width: 500px;
  height: 400px;
  display: inline-block;
  margin: 0;
  float: right;
  margin-right: 30px;
  position: relative;
}

#img
{
  background-color: lightgray;
  float: right;
  width: 500px;
  height: 400px;
  margin: 0;
  margin-right: 30px;
}
#img img 
{
  width: 500px;
  height: 400px;
}
#img2
{
  background-color: lightgray;
  float: left;
  width: 500px;
  height: 400px;
  margin: 0;
  margin-left: 30px;
}
#img2 img 
{
  width: 500px;
  height: 400px;
}
#img3
{
  background-color: lightgray;
  float: left;
  width: 500px;
  height: 400px;
  margin: 0;
  margin-left: 30px;
}
#img3 img 
{
  width: 500px;
  height: 400px;
}
#img3 h3
{
  position: relative;
  top: -150px;
  text-align: center;
  font-family: 'Oswald', sans-serif;;
}
#img3 p
{ 
  position: relative;
  top: -150px;
  padding: 10px 60px;
  text-align: center;
}
#img4
{
  background-color: lightgray;
  float: right;
  width: 500px;
  height: 400px;
  margin: 0;
  margin-right: 30px;
}
#img4 img 
{
  width: 500px;
  height: 400px;
}
#img4 h3
{
  position: relative;
  top: -150px;
  text-align: center;
  font-family: 'Oswald', sans-serif;;
}
#img4 p
{ 
  position: relative;
  top: -150px;
  padding: 10px 60px;
  text-align: center;
}
.conteudo-texto 
{
  
  padding: 40px 100px;
  position: absolute;
  top: 100px;
  margin: 0;
}
.conteudo-texto h2
{
  padding-bottom: 10px;
  font-family: 'Special Elite', cursive;
}
.conteudo-texto p
{
  padding: 5px;
  text-align: justify;
  padding-bottom: 20px;
}
.conteudo-texto a
{
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
}
.conteudo-texto a:hover
{
  background-color: #000;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

/*formatação depoimentos clientes*/

#depoimentos
{ 
  
  height: 100%;
  text-align: center;
}
#depoimentos h2
{
  color: #ccc;
  padding-top: 40px;
  font-family: 'Special Elite', cursive;
  font-size: 2em;
}
.depoimento
{ 
  width: 200px;
  height: 300px;
  padding: 30px;
  margin: 10px;
  display: inline-block;
  position: relative;
  top: 50px;
}
.depoimento img
{
  border-radius: 50%;
}
.depoimento p
{
  text-align: center;
  padding: 10px 15px;
}
.depoimento h4
{
  padding-top: 10px;
  
}
.depoimento .legenda
{
  padding-top: 10px;
  font-size: 12px;
  
}
#galeria
{
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}
.foto
{ 
  width: 250px;
  height: 350px;
}
.fotos
{
  display: inline-block;
  margin:0;
  position: relative;
  left: 30px;
}

.clear
{
  clear: both;
}



