@charset "UTF-8";

body
{   
    background: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
}

.card
{
    display: inline-block;
    width: 190px;
    height: 300px;
    margin-top: 170px;
    position: relative;
    left: 410px;
    border-radius: 5px;
    
}
#amarelo
{
    background: #E28525;
}
#azul
{
    background: #016972;
}
#verde
{
    background: #033F3E;
}
img
{
    padding-top: 20px;
    padding-left: 10px;
}
h1
{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
p
{
    color: white;
    font-size: 12px;
    padding: 15px;
    text-align: justify;
}
input
{
    background-color: white;
    border: none;
    width: 80px;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
}
#botao1
{
    border: 1px solid #E28525;
    color: #E28525;
    margin-left: 60px;
    margin-top: 10px;
}
#botao2
{
    border: 1px solid #016972;
    color: #016972;
    margin-left: 60px;
    margin-top: 10px;
}
#botao3
{
    border: 1px solid #033F3E;
    color: #033F3E;
    margin-left: 60px;
    margin-top: 10px;
}
